body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, .root {
  height: 100%;
  background-color: #151515;
  color: #ababab;
  box-sizing: border-box;
  font-size: 1.2em;
}

@media (max-width: 500px) {
  html, body, .root {
    
    font-size: 1em;
  }   
}